
/* Color Title 
pink 211,65,112	*/


/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 30px;
    font-family: Fredoka, 'Comic Sans';
}

header{
    
    text-align: center;
}

h1{
    color: rgb(211,65,112);
    margin-bottom: 30px;
}

img{
    height: 100px;
    
}

.card{
    width: calc(100% / 3 - 20px);
    text-align: left;
    float: left;
    color: white;
    background-color: black;
    margin: 10px;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

address{
    color:rgb(72,175,283);
    font-style: normal;
}